{% extends 'authentication/base_auth.html' %}
{% block content %}
<div class="tab-content mt-2 shadow-sm">
    <h2 class="text-center">Are your sure you want to logout</h2>
    <div class="d-flex mb-3">
        <form method="post" class="m-auto ">
            {% csrf_token  %}
            <button class="btn btn-danger" value = "yes" name = "response" type ="submit" >Yes please</button>
            <button class="btn btn-dark" value = "no" name = "response" type ="submit" >Cancel</button>
        </form>
    </div>
</div>
{% endblock content %}